div div {
	background: #A4CA39;
	position: relative;
}

.android {
	height: 404px;
	width: 334px;
	margin: 100px auto;
}

.head {
	width: 220px;
	height: 100px;
}

.leftAnt, .rightAnt {
	width: 6px;
	height: 50px;
	position: absolute;
	top: 42px;
}

.leftAnt {
	left: 50px;
}

.rightAnt {

}

.leftEye {

}

.rightEye {

}

.leftArm {

}

.rightArm {

}

.leftLeg {

}

.rightLeg {

}