div {
	margin: 0;
	padding: 0;
}

div div {
	background: #A4CA39;
	position: relative;
}

.android {
	height: 404px;
	width: 334px;
	margin: 100px auto;
}

.head {
	width: 220px;
	height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
}

.leftAnt, .rightAnt {
	width: 6px;
	height: 50px;
	position: absolute;
	top: 42px;
}

.leftEye .rightEye {
	background: #fff;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 42px;
}

.body {
	width: 220px;
	height: 184px;
	top: 40px;
}

.leftAnt {
	left: 50px;
}

.rightAnt {
	right: 50px;
}

.leftEye {
	left: 50px;
}

.rightEye {
	right: 50px;
}

.leftArm {
	left: -58px;
}

.rightArm {
	right: -58px;
}

.leftLeg {
	left: 45px;
}

.rightLeg {
	right: 45px;
}